<div class="container">
  <div class="step-images">
    <%= image_tag("sign_in/step2.png", :width=> "80%", :height => "auto") %>
  </div>
  <div class="form-setting">
    <h2 class="h2">入力されたメールアドレスにメールを送信しました</h2>
  </div>
</div>
