<div class="container">
  <div class="page-header">
  </div>
  <div>
    <h3>ユーザー登録STEP</h3>
    <%= image_tag("sign_in/step1.png", :width=> "80%", :height => "auto") %>
  </div>
  <!-- <h3 class="page-header">登録手順</h3> -->
  <h3 class="page-header">あなたの青学メールを送信ください。</h3>
    <!--
  <h3 class="page-header">こちらからそのメールアドレス宛にメールを送信します</h3>
  <h3 class="page-header">受信メールに記載された URI へ飛んでください</h3>
  <h3 class="page-header">ユーザ情報の入力フォームをご記入ください</h3>
  -->
  <%= form_tag('/mail_addresses', class: "form-horizontal") do %>
    <div class="form-group">
      <div class="col-sm-12">
        <%= text_field :address, :name, :class => "form-control", :placeholder => "aoyama email address" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <%= submit_tag :submit, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>
