<h1>ユーザパスワード情報管理</h1>

<table>
  <thead>
    <tr>
      <th> id </th>
      <th> 氏名 </th>
      <th> パスワード </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.username, admin_password_path(user) %></td>
        <td><%= user.crypted_password  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
