<section id="search_result">
  <% if @thesisArray %>
    <%= page_entries_info @thesisArray %>
      <% @thesisArray.each do |t| %>
          <div class="page-header">
            <h4><%= link_to(t[:thesis].title, thesis_path(t[:thesis])) %></h4>
          </div>
          <p class="text-muted search_summary">
            <small><%= t[:body] %></small>
          </p>
      <% end %>
    <%= paginate @thesisArray, :remote => true %>
  <% end %>
</section>