<h1>Comments:</h1>
<% if @thesis.comments.empty? %>
  <p>この論文にはコメントがありません．コメントを残しませんか？</p>
<% end %>

<% @thesis.comments.each do |c| %>
  <div>
    <% if c[:user_id] %>
      <h2><%= (User.find c[:user_id]).username %></h2>
    <% else %>
      <h2>Unknown User</h2>
    <% end %>

    <pre><%= c[:body] %></pre>
  <div>
<% end %>