.mar-to-100.col-sm-offset-1.col-xs-offset-1
  h1.font-size-25
    = link_to @thesis.title, download_path(@thesis), method: :post
  h1.font-size-20
    | 著者 : 
    = @author.name
  h1.font-size-20
    | 研究室 : 
    = @labos.find(@thesis.labo_id).name
  h1.font-size-20
    | 執筆年度 : 
    = @thesis.year
  h1.font-size-20
    | アクセス数 : 
    = @thesis.access
