<div class="page-header mar-to-100">
  <h1>人気の論文</h1>
  <% @popular_theses.each_with_index do |thesis, i| %>
    <div class="page-header">
      <span class="ranking"> 第 <%= i + 1 %> 位 </span>
      <span class="access"> アクセス数 <%= thesis.access %> </span>
      <div class="thesis-title"> title : <%= link_to(thesis.title, thesis_path(thesis)) %></div>
      <div class="author"> author : <%= thesis.author.name %></div>
    </div>
  <% end %>
</div>
