<div class="container fade-in">
  <section id="searchpage" class="fadeout col-sm-9 col-xm-9">
    <%= render 'infomation'  %>
    <%= render 'comment'     %>
    <%= render 'comment_form' %>
  </section>
  <aside id="right-nav-container"class="col-sm-3 col-xm-3">
    <%= render 'sideber'  %>
  </aside>
</div>
