.container.fade-in
  section#searchpage.fadeout
    = render 'search_form'
  .centerContents
    .col-sm-9.col-xm-9
      = render 'infomation'
      = render 'comment'
    aside#right-nav-container.col-sm-3.col-xm-3
      = render 'sideber'
