<%= stylesheet_link_tag 'error_pages' %>
<!-- This file lives in public/404.html -->
<div class="container">
  <div class="page-header">
    <div class="font-size-80">404</div>
    <div>PAGE NOT FOUND</div>
    <h1>お探しのページは見つかりませんでした。</h1>
    <%= link_to 'トップページへ戻る', root_path %>
  </div>
</div>
