<%= stylesheet_link_tag 'error_pages' %>
<!-- This file lives in public/404.html -->
<div class="container">
  <div class="error-contents">
    <div class="upperContents">
      <div class="font-size-125 errorNum">500</div>
      <div class="errorEn font-size-26">PAGE NOT FOUND</div>
    </div>
    <div class="lowerContents">
      <h1 class="font-size-20">サーバ内部エラー</h1>
      <%= link_to 'トップページへ戻る', root_path %>
    </div>
  </div>
</div>
