<%= javascript_include_tag 'users.js' %>

<p class="demo">Hello World!</p>
<div class ="image"></div>
<section id = "rootpage">
  <div id = "rootContents" >
    <div class = "col-md-3 col-xs-3 before-image-height">
      <div class = "before-image-left">
        <img src = "assets/kana.jpg" alt = "" width = 100% height = 100% class = "kana" >
      </div>
    </div>
    <div class = "col-md-3 col-xs-3 after-image-height"> 
      <div class = "after-image-left">
        <img src = "assets/kana2.jpg" alt = "" width = 100% height = 100% class = "kana" >
      </div>
    </div>
    <div class = "col-md-3 col-xs-3 before-image-height">
      <div class = "before-image-right">
        <img src = "assets/kana.jpg" alt = "" width = 100% height = 100% class = "kana" >
      </div>
    </div>
    <div class = "col-md-3 col-xs-3 after-image-height">
      <div class =  "after-image-right">
        <img src = "assets/kana2.jpg" alt = "" width = 100% height = 100% class = "kana" >
      </div>
    </div>
  </div>
</section>
