<div class="success-field">
  <div class="form-setting message">
    <h2 class="font-size-24 white">ユーザ登録が完了しました。</h2>

    <h2 class="font-size-24 white">ユーザ名とパスワードは忘れないように保管ください。</h2>
  </div>
</div>
