<div id="pageContents">
  <div class="titleContent transparent-back">
    <h1 class="orange font-size-40">論文検索支援システム</h1>
    <p>機能紹介!!!!??</p>
  </div>
  <div class="container content white-back">
    <h2>ここはアイコンとかパワポの図とか用意するか、どんな機能があるかを image で持ってきてあげたほうがいい感じになりそうk
    </h2>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <h1 class="font-size-40 clear-margin">戸辺研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-6">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 戸辺 義人</span>
            <span>助教授 : 高橋 淳二</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-20">情報ネットワーク/センシングネットワーク/実世界コンピューティング/人間情報インタフェース</p>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">たこ焼きパーティーをします。素敵なお友達にめぐりあえます。Ruby コミッターが面倒をみてくれます。tensolflow 使いになれます。ロボット高額。小宮山先生は何をしてるんだ</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <h2>鷲見研究室</h2>
      <h2>鷲見 和彦</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <h2>佐久田研究室</h2>
      <h2>佐久田 博司</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <h2>小宮山研究室</h2>
      <h2>小宮山 摂</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <h2>原田研究室</h2>
      <h2>原田 実</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <h2>lopez 研究室</h2>
      <h2>Guillaume LOPEZ</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <h2>大原研究室</h2>
      <h2>大原 剛三</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <h2>Dürst 研究室</h2>
      <h2>Martin J. DÜRST</h2>
      <ul>
      <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
</div>
