<div id="pageContents">
  <div class="content transparent-back">
    <h1 class="orange font-size-40">論文検索支援システム</h1>
    <p>機能紹介!!!!??</p>
  </div>
  <div class="container content white-back">
    <h2>ここはアイコンとかパワポの図とか用意するか、どんな機能があるかを image で持ってきてあげたほうがいい感じになりそうk
    </h2>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <h2>戸辺研究室</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <h2>鷲見研究室</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <p>山口研究室</p>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <p>小宮山研究室</p>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <p>原田研究室</p>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <p>lopez 研究室</p>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <p>大原研究室</p>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <p>Dürst 研究室</p>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
</div>
