<div id="pageContents">
  <div class="titleContent transparent-back">
    <h1 class="orange font-size-40">研究室選択</h1>
    <p>機能紹介!!!!??</p>
  </div>
  <div class="container content white-back">
    <h2>ここはアイコンとかパワポの図とか用意するか、どんな機能があるかを image で持ってきてあげたほうがいい感じになりそうk
    </h2>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <h2>戸辺研究室</h2>
      <h2>戸辺 義人</h2>
      <h2>高橋 淳二</h2>
      <h2>一年間見てきてのコメント</h2>
      <h2>男女比</h2>
      <h2>研究室のキーワード</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <h2>鷲見研究室</h2>
      <h2>鷲見 和彦</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <h2>佐久田研究室</h2>
      <h2>佐久田 博司</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <h2>小宮山研究室</h2>
      <h2>小宮山 摂</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <h2>原田研究室</h2>
      <h2>原田 実</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <h2>lopez 研究室</h2>
      <h2>Guillaume LOPEZ</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <h2>大原研究室</h2>
      <h2>大原 剛三</h2>
      <ul>
        <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
        <li>チームごとにわける</li>
        <li>どこまで研究が行われているかわかる</li>
        <li>どの分野の内容が流行っているかわかる</li>
        <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
  <div class="container content transparent-back">
    <div class="fade-in">
      <h2>Dürst 研究室</h2>
      <h2>Martin J. DÜRST</h2>
      <ul>
      <li>先行研究もわかる</li>
      </ul>
    </div>
  </div>
</div>
