<div id="pageContents">
  <div class="titleContent transparent-back">
    <h1 class="coral pad-le-60 font-size-35 position">各研究室の先輩の論文を検索できる</h1>
  </div>
  <div class="container content white-back">
    <h2>ここはアイコンとかパワポの図とか用意するか、どんな機能があるかを image で持ってきてあげたほうがいい感じになりそうk
    </h2>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <h1 class="font-size-35 clear-margin">戸辺研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 戸辺 義人</span>
            <span>助教授 : 高橋 淳二</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">情報ネットワーク/センシングネットワーク/実世界コンピューティング/人間情報インタフェース</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">たこ焼きパーティーをします。Ruby コミッターが面倒をみてくれます。tensolflow 使いになれます。ロボット高額。小宮山先生は何をしてるんだ</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName">
        <h1 class="font-size-35 clear-margin">鷲見研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 鷲見 和彦</span>
            <span>助教授 : 金子 直史</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">画像情報処理/センサ情報処理/画像理解/ロボット視覚/リモートセンシング/ヒューマンセンシング/映像セキュリティ</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName6">
        <h1 class="font-size-35 clear-margin">佐久田研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 佐久田 博司</span>
            <span>助教授 : 長谷川 大</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">設計情報工学/数値解析システム/成形プラスチック歯車/図形科学教育システム/e-Learning</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName6">
        <h1 class="font-size-35 clear-margin">小宮山研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 小宮山 摂</span>
            <span>助教授 : 盛川 浩志</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">ヒューマンインタフェース/ヒューマンコンピュータインタラクション/バーチャルリアリ</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <h1 class="font-size-35 clear-margin">原田研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 原田 実</span>
            <span>助教授 : 冬子（不在）</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">自然言語処理/意味理解/質問応答/自動要約/テキストマイニング/プログラム自動生成/株式投資工学/機械学習/ルールベースの自動更新</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName6">
        <h1 class="font-size-35 clear-margin">Lopez研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : Guillaume LOPEZ</span>
            <span>助教授 : 磯山先生(不在）</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">ウェアラブルコンピューティング/マルチメディアデバイス/人間情報学/環境情報学</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <h1 class="font-size-35 clear-margin">大原研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 大原 剛三</span>
            <span>助教授 : 豊田 哲也</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">データマイニング/機械学習/推薦システム/社会情報ネットワーク解析/ 個人適応/統計モデルの推定</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName6">
        <h1 class="font-size-35 clear-margin">Dürst研究室</h1>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : Martin J. DÜRST</span>
            <span>助教授 : 松原 俊一</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">ソフトウェアの国際化/Web/プログラミング言語/DSL</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
</div>
