<h1>introduction page</h1>
<h2>root page があって, そこからこのページに遷移させる予定</h2>
<h2>または, スクロールで出てくる感じで</h2>


<p>書く内容ここに適当に列挙</p>

<ul>
  <li>自分の研究室の先輩がどのような研究をしているのかを可視化</li>
  <li>チームごとにわける</li>
  <li>どこまで研究が行われているかわかる</li>
  <li>どの分野の内容が流行っているかわかる</li>
  <li>先行研究もわかる</li>
</ul>



