@import "variables/variables";

.top-btn {
  color: white;
  width: 100px;
  text-align: center;  
  border-radius:13px;
  z-index: 4
}

.login{
    @extend .top-btn;
    position: absolute; top:40px;
    position: absolute; right:70px;
    background-color: $blue; 
  }
  
.logout{
    @extend .top-btn;
    position: absolute; top:40px;
    position: absolute; right:70px;
    background-color: $red; 
  }

.submit{
    @extend .top-btn;
    background-color: $blue; 
  }

.back{
    @extend .top-btn;
    position: absolute; top:40px;
    position: absolute; left:70px;
    background-color: $yellow; 
  }





