$gray-e: #eee;
$gray-d: #ddd;
$gray-c: #ccc;
$gray-a: #aaa;
$gray-8: #888;

$gray-1: #ccc;
$gray-2: #888;

$pure-black: #000;
$pure-white: #fff;

$black: #000000;
$white: #ffffff;
$sub-color: #ffffff;
$light-color: #20C5B2;
$base-color: #24a899;
$deep-color: #1c645b;

$red: #b22222;
$blue: #3b5998;
$yellow: #ffa500;

$wineRed: #630e0e;
$pearlWhite: #f7f6f5;
$ironBlack: #2b2b2b;
$goldenYellow: #f6ae54;
$fog: #abb1b5;

$persimmon: #FF5E19;
$mandarinOrange: #FFC34C;
