@import 'components/color';

.error-contents {
  text-align: center;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;

  .upper-contents {
    color: $gray-8;

    .error-num {
      font-weight: 200;
    }

    .error-en {
      width: 100%;
      font-weight: 120;
    }
  }

  .lower-contents {
    color: $gray-2;

    a {
      color: $gray-2;
    }

    a:hover {
      color: $goldenYellow;
    }
  }
}
