@import 'components/color';

.error-contents{
  text-align: center;
  position: relative;
  top: 100px;
  width: 50%;
  left: 25%;
  .upperContents{
    position: relative;
    color: $gray-8;
    .errorNum{
      font-weight: 200;
    }
    .errorEn{
      position: absolute;
      top: 150px;
      width: 100%;
      font-weight: 120;
    }
  }
  .lowerContents{
    position: relative;
    top: 50px;
    color: $gray-2;
    a{
      color: $gray-2;
    }
    a:hover{
      color: $goldenYellow;
    }
  }
}
