@charset "utf-8";

@import "components/color";

$backgroundColor: $ironBlack;

#footer {
  background-color: $backgroundColor;
  color: white;

  .l-footerNav {
    padding: 30px 0;

    a {
      color: inherit;
    }

    a:hover a:focus {
      color: $goldenYellow;
      text-decoration: none;
    }

    .active {
      a a:focus a:hover {
        color: $goldenYellow;
        background-color: inherit;
      }
    }

    .l-container {
      overflow: hidden;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      padding: 0 7%;

      .m-navigation {
        .navbar {
          border: none;
          background-color: inherit;

          .nav {
            font-size: 22px;

            li {
              // マウスオーバー時の項目のズレを防ぐためボーダーを設定
              // commom.css.scssのbottom-borderと同じ太さ
              border-bottom: solid 3px $backgroundColor;

              a:hover a:focus {
                color: white;
              }
            }

            .active {
              a a:focus a:hover {
                color: $goldenYellow;
              }
            }
          }
        }
      }
    }
  }
}
