@import "components/color";

#footer {
  background-color: #2b2b2b;
  color: white;
}

.l-footerNav{
  background-color: #2b2b2b;
  padding: 30px 0;

  a {
    color: white;
  }

  a:hover,
  a:focus {
    color: $goldenYellow;
    text-decoration: none;
  }

  .active>a,
  .active>a:focus,
  .active>a:hover {
    color: $goldenYellow;
    background-color: inherit;
  }
}

.l-container {
  overflow: hidden;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 7%;
}

.m-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  letter-spacing: normal;
  word-spacing: normal;
  margin-left: 40px;
}

.m-navigation li:first-child {
  margin-left: 0;
}

.m-navigation--center ul {
  float: right;
  padding-right: 60px;
}

.m-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  // font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
}
