@charset "UTF-8";

body {
  background: image-url("bg1.jpeg") fixed;
}

#pageContents{
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "MS PGothic", "Osaka", Arial, sans-serif;
}

.titleContent {
  padding-top: 160px;
  padding-bottom: 160px;
  width: 100%;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.container {
  padding-left: 60px;
}

.position{
  position: absolute;
  top: 320px;
  right: 60px;
}

.laboName{
  letter-spacing: 6px;
  margin-bottom: 30px;
  border-bottom: solid 3px darkorange;
  width: 20%;
}

.laboName{
  letter-spacing: 6px;
  margin-bottom: 30px;
  border-bottom: solid 3px coral;
  width: 20%;
}

.laboName6{
  letter-spacing: 6px;
  margin-bottom: 30px;
  border-bottom: solid 3px darkorange;
  width: 24%;
}

.laboProfessor {
  font-size: 20px;
}

.laboKeyword {
  margin-top: 30px;
}

.laboInfo {
  font-size: 20px;
}



.navbar{
  border: none;
  opacity: 0.7;
  margin: 0;
  height: 100px;
  padding-top: 30px;
}

.nav{
  font-size: 20px;
}

.navbar-brand{
  font-size: 30px;
}

.transparent-back {
  color: #333;
}

.white-back {
  background-color: #f6f6f6;
  color: #333;
}

.black-back {
  background-color: #222326;
  color: #fff;
}

/* スクロールでフェードイン */
/* 参考サイト: https://theorthodoxworks.com/web-design/scrollanimation/ */
.fade-in-down {
 -webkit-animation-fill-mode: both;
 -ms-animation-fill-mode:     both;
 animation-fill-mode:         both;
 -webkit-animation-duration: 1s;
 -ms-animation-duration:     1s;
 animation-duration:         1s;
 -webkit-animation-name: fade-in-down;
 animation-name:         fade-in-down;
 visibility: visible !important;
}

@-webkit-keyframes fade-in-down {
 0%   { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fade-in-down {
 0%   { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0);     -ms-transform: translateY(0);     transform: translateY(0); }
}
/* ここまでスクロールでフェードイン */
