$margin: 20px;
$padding: 20px;

.step-images {
  text-align: center;
  margin: 30px;
  padding: $padding;
}

.form-setting {
  $margin-form: 160px;
  text-align: center;
  background-color: rgba(255, 108, 0, 0.5);
  border: 2px solid #f7f5f3;
  box-shadow: 0 0 0 2px #ffd000;
  color: #0a8915;
  margin-left: $margin-form;
  margin-right: $margin-form;
  padding: 20px;
}

.h2 {
  display: inline-block;
  color:white;
  //background: linear-gradient(transparent 0%, #FF9872 0%);
  //background: linear-gradient(transparent 60%, #FF9872 60%);
}

.test {
  margin: $margin;
  padding: $padding;
}

.text-field {
  margin: $margin;
  position: relative;
}

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px darkorange;
    border-radius: 3px;
    transition: .4s;
    background-color: darkorange;
}

.square_btn:hover {
    background: #67c5ff;
    color: white;
}
