.step-images {
  text-align: center;
  margin: 3%;
}

.form-setting {
  text-align: center;
  background-color: rgba(255, 108, 0, 0.5);
  border: 2px solid #f7f5f3;
  box-shadow: 0 0 0 2px #ffd000;
  color: black;
  font-weight: bold;
  padding: 3%;
}

.h2 {
  display: inline-block;
  color:white;
}

.text-field {
  margin: 3%;
  width: 90%;
}

.button {
  border-style: none;
  background-color: #ff8c00;
  color: #fff;
}
.button:hover {
  background-color: #fff;
  color: #ff8c00;
  text-decoration: underline;
}

/* user registration */
.h1 {
  display: inline-block;
  color:white;
  font-size: 45px;
  margin-bottom: 3%;
}

.select-box {
  margin: 3%;
}

