#searchpage{
  box-sizing: border-box;
  border: 0;
  position: absolute;
  top: 4%;          //header の height を % 表示にしておく
  right: 0;
  bottom: 0;
  left: 0;
  height: 96%;
  background-color: #de9610;

  .page-header{
    margin-left: 10%;
    color: white;
  }

  .text-pos{
    margin-top: 7px;
  }

  .textarea{
    float: right;
    width: 75%;
  }

  .button{
	  background-color: transparent;
	  border: 2px solid #fff;
	  color: #fff;
	  height: 30px;
    margin-top: 8px;
  }

  .button:hover{
  	background-color: rgba(255, 255, 255, .2);
  }

  .btn-pos{
    position: absolute;
    width: 50%;
  }
}

.search_summary{
  overflow: hidden;
  height: 4em;
}


