body {
  background-color: #de9610;
  
  #searchpage{
    // bootstrapのクラスをオーバーライド
    .page-header {
      color: white;
    }

    .textarea {
      width: 100%;
    }

    .button {
      background-color: transparent;
      border: 2px solid white;
      color: white;
      width: 100%;
      height: 34px;
    }

    .button:hover{
      background-color: rgba(255, 255, 255, .2);
    }

    .search_summary{
      overflow: hidden;
      height: 4em;
    }
  }
}