body{
  background-color: #1CBABC;

  #sessions{
  
    .signin{
      color: white;
    }
  
    .button{
  	  background-color: transparent;
  	  border: 2px solid #fff;
  	  color: #fff;
  	  line-height: 50px;
    }
    .button:hover{
  	  background-color: rgba(255, 255, 255, .2);
    }
    .btn-pos{
      position: absolute;
      width: 50%;
      left: 25%;
      right: 25%;
      margin-top: 10%;
    }
  
  }

}
