#sessions{
  box-sizing: border-box;
  border: 0;
  border : solid red;
  position: absolute;
  top: 5%;          //header の height を % 表示にしておく
  right: 0;
  bottom: 0;
  left: 0;
  height: 95%;
  background-color: yellow;
}


