@import "components/color";

body {

  #searchpage{
   .page-header {
      color: $goldenYellow;
    }
    .width {
      width: 80%;
    }
    .textarea {
      width: 100%;
    }
    .button {
      background-color: transparent;
      border: 2px solid $fog;
      color: black;
      width: 100%;
      height: 34px;
    }
    .button:hover{
      background-color: rgba(255, 255, 255, .2);
    }
    .search_summary{
      overflow: hidden;
      height: 4em;
    }
  }

  #right-nav-container{
    color: $goldenYellow;
    border: 2px solid $fog;

    .ranking{
      font-size: 30px;
      color: black;
    }
    .access{
      font-size: 23px;
      color: black;
    }
    .thesis-title{
      font-size: 20px;
      color: black;
    }
    .author{
      font-size: 20px;
      color: black;
    }
  }
}
