@import "components/color";

body {

  .search-form{
    position: relative; 
    width: 100%;
  }

  .centerContents{
    position: relative; 
    width: 100%;
  }

  #searchpage{
   .page-header {
      color: $goldenYellow;
      padding-bottom: 0px;
      margin-bottom: 12px;
      margin-top: 70px;
    }
    .width {
      width: 80%;
    }
    .textarea {
      width: 100%;
    }
    .button {
      background-color: transparent;
      border: 2px solid $fog;
      color: black;
      width: 100%;
      height: 34px;
    }
    .button:hover{
      background-color: rgba(255, 255, 255, .2);
    }
  }

  .search_summary{
    overflow: hidden;
    height: 4em;
  }

  #right-nav-container{
    color: $goldenYellow;

    .ranking{
      font-size: 18px;
      color: black;
    }
    .access, .thesis-title, .author, .labo-name{
      font-size: 16px;
      color: black;
    }
  }

  .alert{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -30px;
  }
}
