@import "variables/variables";

/* ここからブロック要素内のブロック要素の上下左右センタリング */
.centering-contents-block { /* センタリングしたいブロックにつける*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 1em;  /* 高さを指定しないと上下中央にならない */
  text-align: center;
}

.background-book-img {
  background-image: image-url("book.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 690px;
}

.root-title {
  font-weight: bold;
  color: #111;
}

#rootpage{


  box-sizing: border-box;
  border: 0;
  position: absolute;
  top: 5%;          //header の height を % 表示にしておく
  right: 0;
  bottom: 0;
  left: 0;
  height: 95%;
  background-color: #CE5973;


  #rootContents{
    margin-top: 10%;
    height: 60%;
    .kana{
       position: absolute;
       box-sizing: content-box;
       opacity: 0.9;
       z-index: -100;
       border: dotted 2px black;
       height: 100%;
       width: 80%;
     }
    .before-image-height{
      height: 90%;
    }
    .after-image-height{
      height: 90%;
      
    }
    .after-image-right{
       height: 100%;
       display: none;
     }
    .after-image-left{
       height: 100%;
       display: none;
     }
  }
}


p {
 z-index: 10000;
 position: absolute;
 left: 80%;
 top: 90%;
}

div .image{
 position: absolute;
 left: 20%;
 top: 90%;
 height: 30%;
 width: 30%;
}
