@charset "utf-8";

@import "variables/variables";

/* ここからブロック要素内のブロック要素の上下左右センタリング */
.centering-contents-block { /* センタリングしたいブロックにつける */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 1em;  /* 高さを指定しないと上下中央にならない */
  text-align: center;
}

.background-book-img {
  background-image: image-url("book.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 690px;
}

.root-title {
  font-weight: bold;
  color: #111;
}

p .demo {
  z-index: 10000;
  position: absolute;
  left: 80%;
  top: 90%;
}

div .image {
  position: absolute;
  left: 20%;
  top: 90%;
  height: 30%;
  width: 30%;
}
