@import "variables/variables";

.book-img {
  width: 100%;
  height: 0px;
  
  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-image: image-url("book.jpg");
    opacity: 0.9; 
  }
}

.title-align {
  text-align: center; 
}

