@import "components/color";

.success-field {
  font-size: 25px;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;

  a, a:hover, a:focus {
    border: none;
    color: $ironBlack;
    background-color: $goldenYellow;
  }
}
