@import "variables/variables";


body {
  height: 100%;
  margin: 0;
}


#visual{
  border : solid red;
  position: absolute;
  top: 5%;          //header の height を % 表示にしておく
  right: 0;
  bottom: 0;
  left: 0;
  height: 95%;
}


#visualTitle{
  border: solid red;
  height: 10%;
  text-align: center; 
  color: red;

  .heightCenter{
    padding-top: 25px;
    font-size: 24px;
  }
}

#visualContents{
  position: relative;
  height: 90%;

  .kana{
     position: absolute; 
     box-sizing: content-box;  
     opacity: 0.2;
     z-index: -100;
     border: dotted 1px black; 
  } 
  
  .kana-left{
    left: 0;
  }

  .kana-right{
    left: 50%;
  }

  .scale{
    z-index: 100;
    border : solid red;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
     
    @for $i from 1 through 10 {
      .num#{$i}{
        height: 10%;
        margin: 0px;
        box-sizing: border-box; 
        @if $i == 5 {
          border: {
              bottom: dotted black;
              bottom-width: 2px;
            
          } 
        }
        @else {
          border: {
            bottom: dotted gray;
            bottom-width: 1px;
          }
        } 
      } 
    }
  } 
}


