@charset "utf-8";
@import "variables/variables";


body {
  height: 100%;
  margin: 0;
}

#visual{
  box-sizing: border-box; 
  border: 0; 
  border : solid red;
  position: absolute;
  top: 5%;          //header の height を % 表示にしておく
  right: 0;
  bottom: 0;
  left: 0;
  height: 95%;
}

#visualTitle{
  border: solid red;
  height: 10%;
  text-align: center; 
  color: red;

  .heightCenter{
    padding-top: 25px;
    font-size: 24px;
  }
}

#visualContents{
  box-sizing: border-box; 
  position: relative;
  height: 90%;

  .kana{
     position: absolute; 
     box-sizing: content-box;  
     opacity: 0.2;
     z-index: -100;
     border: dotted 2px black; 
  } 
  
  .kana-left{
    left: 0;
  }

  .kana-right{
    left: 50%;
  }

  .scale{
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
   
    .vartical-division-top{
      top: 0%;
      left: 49%;
      display: block;
      position: absolute;
      z-index: 200;
      display: block;
      margin-bottom: 0px;
      color: red;
    }
    .vartical-division-bottom{
      top: 97%;
      left: 49%;
      display: block;
      position: absolute;
      z-index: 200;     
      display: block;
      margin-bottom: 0px;
      color: red;
    }


    @for $i from 1 through 10 {
      .horizon-division#{$i}{
        top: 50%;
        left: $i*9%;
        margin-bottom: 0;
        position: absolute;
        z-index: 200;
        color: red; 
      }

      .visual-contents#{$i}{
        top: 0%;
        left: $i*9%;
        width: 9%;
        height: 100%;
        position: absolute;
        font-size: 6px;
        z-index: 250;
      }
    }



    @for $i from 1 through 10 {
      .num#{$i}{
        height: 10%;
        margin: 0px;
        box-sizing: border-box; 
        @if $i == 5 {
          border: {
            bottom: dotted black;
            bottom-width: 2px;
          } 
        }
        @else {
          border: {
            bottom: dotted gray;
            bottom-width: 1px;
          }
        } 
      } 
    }
  } 
}


