section#visual
  #visualTitle
    .heightCenter
      |  Dürst 研究室 研究状況 
  #visualContents
    .scale
      img.kana.kana-left[src="assets/kana.jpg" alt="" width="50%" height="100%"]
      img.kana.kana-right[src="assets/kana2.jpg" alt="" width="50%" height="100%"]
      .vartical-division-top
        |  Ruby 
      .vartical-division-bottom
        |  Web 
      - (1..10).each do |i|
        |  <p class = "horizon-division
        = i
        | "> 
        = 2006 + i
        |  <hr class = "num
        = i
        | "> 
      - @thesis.each do |t|
        - if ((2007 <= t.year) && (t.year <= 2016))
          |  <div class = "visual-height
          = t.year - 2006
          |  horizon-division
          = t.year - 2006
          | "> 
    |  <svg class = "visual-contents
    = t.year - 2006
    | "> 
    circle[cx="10%" cy="30%" r="10px"]
