<section id = "visual">
  <div id = "visualTitle">
    <div class = "heightCenter">
      Dürst 研究室 研究状況
    </div>
  </div>

  <div id = "visualContents" >
    <div class = "scale" >
      <img src = "assets/kana.jpg" alt = "" width = 50% height = "100%" class = "kana kana-left" >
      <img src = "assets/kana2.jpg" alt = "" width = 50% height = "100%" class = "kana kana-right" >

      <p class = "vartical-division"> 実装状況
      <% (1..10).each do |i|  %>
        <p class = "horizon-division<%= i %>"> <%= 2006 + i %>
        <hr class = "num<%= i %>">
      <% end %>
    </div>
  </div>
</section>
