  <div class="l-footerNav">
    <div class="l-container l-container--full">
      <nav class="m-navigation m-navigation--center">
        <ul>
          <li><a class="font-size-20" href="/">TOP</a></li>
          <li><a class="font-size-20" href="/">PRODUCT</a></li>
          <li><a class="font-size-20" href="/">ABOUT</a></li>
          <li><a class="font-size-20" href="/">NEWS</a></li>
          <li><a class="font-size-20" href="/">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </div>


  <footer id="footer">
    <div class="l-container l-container--narrow">
      <h1 class="m-siteLogo m-siteLogo--small">
        <a href="http://pas-pol.jp">論文検索支援システム escapism</a>
      </h1>
  
      <div class="m-copyRight">
        <small>Copyright &copy; 2017 論文検索支援システム escapism All rights reserved.</small>
      </div>
    </div>
  </footer>

  <%= stylesheet_link_tag "footers" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>
