<div class="container">
  <div class="navbar-header">
    <%= link_to 'Back', root_path, method: :get, class: "btn back" %> 
    <div id="nav">
      <% if logged_in? %>
        <%= link_to "Logout", :logout, method: :post, class:"btn logout" %>
      <% else %>
        <%= link_to "Login", :login, class:"btn login" %>
      <% end %>
    </div>
  </div>
</div>
